<div class="container">

  <h4 class="h4">Products</h4>
  <hr><br>
  <div class="row">
    <div class="col-lg-3" id="bottomMargin" *ngFor="let order of productOrders">
      <div class="product-grid6" *ngIf="order.product.productTypeId==1">
        <div class="product-image6">
          <img class="pic-1" src="../../../assets/images/products/{{order.product.productId}}.png" alt="burger-{{order.product.productId}}">
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Burger {{order.product.productLangsByProductId[0].productLangShortDescription}}</a></h3>
          <div class="price">{{order.product.productPrice}}€</div>
        </div>
        <ul class="social">
          <li><a class="pointerHand" data-tip="Quick View" (click)="getSelectedProduct(order.product)" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></a></li>
          <li><a class="pointerHand" data-tip="Add to Cart" (click)="addToCart(order)"><i class="fa fa-shopping-cart"></i></a></li>

        </ul>
      </div>

      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"> {{selectedProduct.productTypeId}} {{selectedProduct.productId}} - {{order.product.productLangsByProductId[0].productLangShortDescription}} </h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              Product longDescription
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
