<nav class="navbar navbar-expand-md bg-light fixed-top">
  <div class="container">
  <!-- Brand -->
  <a class="navbar-brand justify-content-center" href="#"><img src="../../../assets/images/logo.png" alt="logo" style="margin-top: 0px"></a>

<!--    <a routerLink="/products"><button type="button" class="btn btn-outline-secondary" >Products</button></a>-->
    <a (click)="showCategories()"><button type="button" class="btn btn-outline-secondary">Categories</button></a>
<!--    <a routerLink="/about"><button type="button" class="btn btn-outline-secondary">About</button></a>-->
    <a (click)="hitReset()"><button type="button" class="btn btn-outline-secondary">Reset</button></a>
  </div>
</nav>

