<nav class="navbar navbar-expand-md bg-light" style="margin-bottom: 20px">

  <!-- Brand -->
  <a class="navbar-brand justify-content-center" href="#"><img src="../../../assets/images/logo.png" alt="logo" style="margin-right:50px"></a>

    <a routerLink="/products"><button type="button" class="btn btn-outline-secondary" >Products</button></a>
    <a routerLink="/menu"><button type="button" class="btn btn-outline-secondary">Menus</button></a>
    <a routerLink="/about"><button type="button" class="btn btn-outline-secondary">About</button></a>
</nav>

