<div class="container">
  <h4 class="h4" style="text-align: center; font-family: 'Comic Sans MS',serif">Main</h4>
  <hr><br>
  <div class="row" style="margin-top: 100px">
    <div class="col-lg-4" *ngFor="let menu of menus" style="margin-bottom: 20px">
      <div class="menu-grid6">
        <div class="menu-image6" style="margin: 0 40px 0 40px">
          <a class="pointerHand" data-tip="Quick View" (click)="getSelectedMenu(menu)" data-toggle="modal" data-target="#myModal">
            <img class="pic-1" src="../../../assets/images/menus/{{menu.menuId}}.png" alt="menu {{menu.menuId}}">
          </a>
        </div>
        <div class="menu-content">
          <h3 class="title"><a>Menu {{menu.menuId}}</a></h3>
          <div class="price">{{menu.menuMain}}€</div>
        </div>
      </div>


      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{selectedMenu.menuId}} {{selectedMenu.menuMain}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h3>Choose your side</h3>
              <div class="form-check-inline" *ngFor="let product of products">
                <label class="form-check-label" *ngIf="product.productTypeId==2">
                  <input type="radio" class="form-check-input" name="optradio">
                  <img class="pic-1" src="../../../assets/images/products/{{product.productId}}.png" alt="side-{{product.productId}}" width="100px" height="100px">
                </label>
              </div>
            <hr>
              <h3>Choose your drink</h3>
              <div class="form-check-inline" *ngFor="let product of products">
                <label class="form-check-label" *ngIf="product.productTypeId==3">
                  <input type="radio" class="form-check-input" name="optradio2">
                  <img class="pic-1" src="../../../assets/images/products/{{product.productId}}.png" alt="drink-{{product.productId}}" width="100px" height="100px">
                </label>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Add to cart</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
